<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="D10cnpm_Bai2_DotNet.Properties.Settings.DemoQuanLyBanHangConnectionString"
            connectionString="Data Source=DIEUNINH\SQLEXPRESS;Initial Catalog=DemoQuanLyBanHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>